#main .container {
  max-width: 100% !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.dvcs_pricing {
	opacity: 0 !important;
}
.dvcs_pricing.dvcs_active {
	opacity: 1 !important;
}
.dvcs_pricing_1 {
	visibility: hidden !important;
}
.dvcs_pricing_1.dvcs_active {
	visibility: visible !important;
}
.dvcs_pricing_1.dvcs_active .et_pb_pricing_table {
	z-index: 1 !important;
}
.dvcs_pricing_1.dvcs_active .et_pb_featured_table {
	z-index: 11 !important;
}
.dvcs_pricing_2,
.dvcs_pricing_2.et_hover_enabled:hover {
/*    position: absolute !important;
    top: 0 !important;
    width: 100% !important; */
	visibility: hidden !important;
}
.dvcs_pricing_2.dvcs_active {
    z-index: 10 !important;
	visibility: visible !important;
}
/* End IMPORTANT */

/* VB fixes */
.et-fb .dvcs_pricing {
	opacity: 1 !important;
}
.et-fb .dvcs_pricing_2 {
	visibility: visible !important;
}
/* END VB fixes */

.dvcs_switch_btn_1, .dvcs_switch_btn_1:hover {
	background-color: #ffffff !important;
	color: #437eeb !important;
}
.dvcs_switch_btn_1.dvcs_active, .dvcs_switch_btn_1.dvcs_active:hover {
	background-color: #437eeb !important;
	color: #ffffff !important;
}
.dvcs_switch_btn_2, .dvcs_switch_btn_2:hover {
	background-color: #ffffff !important;
	color: #437eeb !important;
}
.dvcs_switch_btn_2.dvcs_active, .dvcs_switch_btn_2.dvcs_active:hover {
	background-color: #437eeb !important;
	color: #ffffff !important;
}

/* plan-comparison-table--collapsed */

.tablepress td {
    border: 1px solid #ddd !important;
}
.tablepress tbody tr:first-child td {
    border-top: 1px solid #ddd !important;
}
.tablepress tbody tr td .bt{
    border-width: 10px!important;
    border-color: rgba(0,0,0,0) !important;
    border-radius: 5px!important;
    font-family: 'Rubik',Helvetica,Arial,Lucida,sans-serif!important;
    text-transform: uppercase!important;
    transition: letter-spacing 300ms ease 0ms !important;
    padding: 1em 1.5em!important;
}
.tablepress tbody tr td .bt.essentials {
    color: #525f81!important;
    background-color: rgba(82,95,129,0.2) !important;
}
.tablepress tbody tr td .bt.start-up {
    color: #ffffff!important;
    background-color: #525f81 !important;
}
.tablepress tbody tr td .bt.part-time {
    color: #ffffff!important;
    background-color: #437eeb !important;
}
.tablepress tbody tr td .bt.full-time {
    color: #ffffff!important;
    background-color: #313e5b !important;
}
#tablepress-1 tbody tr:last-child td {
    border-left: 0 !important;
    border-right: 0 !important;
    border-bottom: 0 !important;
}
td.column-1 {
    width: 18vw !important;
}
td.column-1 h4 {
    text-align: left !important;
}
td h4, td h6 {
    padding-bottom: 0 !important;
    font-size: 1.2em !important;
}
td.column-2, td.column-3, td.column-4, td.column-5 {
    text-align: center !important;
}
.des_show {
    padding: 0 !important;
}
.des_show.closed:before {
    font-family: 'ETmodules';
    padding-right: 3px;
    content:"\35";
}
.des_show.opened:before {
    font-family: 'ETmodules';
    padding-right: 3px;
    content:"\33";
}
.tablepress {
    margin-bottom: 0 !important;
}
.plan-comparison-table.plan-comparison-table--collapsed {
    max-height: 320px;
    overflow: hidden;
    transition: max-height .25s ease-out;
}
.plan-comparison-table {
    max-height: 9999px;
}